[Unit]
Description=Backup of cassandra database
After=aws-installed.target
Wants=aws-installed.target
[Service]
Type=oneshot
Environment=AWS_CONFIG_FILE=/home/core/.aws/config
ExecStart=/home/core/cassandra-backup/backup-witan.sh
