[Unit]
Description=cAdvisor for monitoring
Requires=docker.service
After=docker.service
[Service]
User=core
TimeoutStartSec=15
ExecStartPre=-/usr/bin/docker pull mastodonc/cadvisor:beta
ExecStart=/usr/bin/docker run --name=cadvisor --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=9922:8080  --detach=true mastodonc/cadvisor:beta -storage_driver=influxdb -storage_driver_host=${influxdb-ip}:8086
