[Unit]
Description=running confd
After=install-confd.service
[Service]
ExecStart=/opt/mesosphere/bin/confd -daemon -backend zookeeper -log-level=debug -node ${internal-lb-dns}:2181
ExecStop=/usr/bin/pkill confd