[Unit]
Description=Copy bins to /opt/bin
After=multi-user.target
Wants=multi-user.target

[Service]
Type=oneshot
TimeoutStartSec=10
StandardOutput=journal+console
StandardError=journal+console
ExecStartPre=/usr/bin/mkdir -p /opt/bin
ExecStart=/bin/sh -c "/bin/wget -O - --no-check-certificate https://s3.eu-central-1.amazonaws.com/terraboot/bins.tgz | tar xz -C /opt/bin"
