[Unit]
Description=Filebeat
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/bin/filebeat -c /etc/filebeat/filebeat.yml
Restart=always