[Unit]
Description=Filebeat
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=15
StartLimitInterval=0
ExecStart=/bin/sh -c "/opt/bin/filebeat -c /etc/beats/filebeat.yml"
RestartSec=5
Restart=always
