[Unit]
Description=nrpe for alerts
Requires=docker.service
After=docker.service
[Service]
User=core
TimeoutStartSec=15
ExecStartPre=-/usr/bin/docker pull mabitt/nrpe-server
ExecStart=/usr/bin/docker run --detach=false --name nrpe-server -p 5666:5666 -e "NAGIOS_SERVER=${alerts-server}" mabitt/nrpe-server
ExecStop=-/usr/bin/docker stop -t nrpe-server; /usr/bin/docker rm -f nrpe-server